body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: crimson; */
    background: linear-gradient(to left, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
    margin: 50px;
}

.box1 {
    max-width: 400px;
    text-align: left;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: aliceblue;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.51);
}

.container {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 400px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: aliceblue;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.51);
}

label {
    display: block;
    margin-bottom: 5px;
}
  
input {
    padding: 8px;
    margin-bottom: 10px;
}
  
button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
button:hover {
    background-color: #45a049;
}
  
#result {
    margin-top: 15px;
    font-weight: bold;
  }


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}